:root {
  --color-1: #9BB423;
  --color-2: #31685B;
  --color-2-alpha: #31685bc7;
  --color-3: #35848A;
  --color-4: #B4CFB0;
  --color-5: #ABB891;
  --color-6: #A7D7D4;
}

* {
  box-sizing: border-box; 
}

body {
  font-family: Nunito;
}

a {
  display: inline-block;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.seccion {
  padding-top: 30px;
  padding-bottom: 30px;
}


.boton{
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border: none;
}


/* Seccion Header */

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color-2);
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 60px;
}

header .container nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
}

header .container nav a:hover {
  color: var(--color-1);
}

/* Seccion Inicio */

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-image: url(../images/bannerprincipal.jpg);
  background-size: cover;
  background-position: center;
}

#inicio .bloque-inicio h1 {
  color: white;
  font-size: 50px;
}

.boton.boton-verde {
  color: white;
  background-color: var(--color-2);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.boton.boton-verde:hover {
  color: #31685B;
  background-color: white;
}

/* seccion nosotros */

#nosotros {
  background-color: var(--color-2);
  padding: 1px 0;
}

#nosotros .descripcion p {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

/* seccion materiales */

#materiales {
  display: flex;
  justify-content: space-between;
}

#materiales h2{
  text-align: center;
  margin-bottom: 40px;
}

#materiales .row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#materiales .material-card {
  width: 350px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 128, 0, 0.4);
}

#materiales .material-card .img-material{
position: relative;

}

#materiales .material-card .img-material img{
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 5px;
}

#materiales .img-material h3 {
position: absolute;
top: 10px;
right: 10px;
margin: 0;
padding: 10px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.228);
}

#materiales .material-card p{
padding: 10px;
margin: 0;
}

/* Seccion Productos */
/* -- Projects Section */

.projects {
  margin: 0 auto;
}

.projects h2{
    text-align: center;
    margin-bottom: 40px;
  }

.project-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--color-w);
  gap: 15px;
}

.project-img img{
  width: 350px;
}

.project-card {
  border: 1px solid #eeeeee;
}

.project-card:focus,
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--color-2);
  padding-left: 24px;
  outline: none;
}

.project-p {
  color: var(--color-3);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  outline: none;
}

/* Seccion Galeria */

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

#galeria {

}

#galeria h4 {
  padding: 0 15px;
  text-align: center;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 18px;
  width: 100%;
}

#galeria img {
  filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img {
filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4 {
  display: none;
}

/* Seccion Contacto */

#contacto {
  position: relative;
}

#contacto iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: grayscale(1);
}

.columna-50{
  width: 50%;
}

.empujar-50 {
  margin-left: 50%;
}

#contacto form {
  padding: 20px;
  background-color: green;
}

#contacto form .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contacto form .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  border: 1px solid gray;
  width: 100%;
  padding: 5px 10px;
}

#contacto form .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid gray;
  width: 100%;
  padding: 5px 10px;
}

#contacto form .form-block.bloque-ultimo {
  margin-bottom: 0;
}

.boton.boton-negro {
  background-color: black;
  color: white;
  font-weight: 700;
}