:root {
  --color-1: #9BB423;
  --color-2: #31685B;
  --color-2-alpha: #31685bc7;
  --color-3: #35848A;
  --color-4: #B4CFB0;
  --color-5: #ABB891;
  --color-6: #A7D7D4;
  --color-w: #fff;
}

* {
  box-sizing: border-box; 
}

body {
  font-family: Nunito, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
padding: 0 17px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.seccion {
  padding-top: 30px;
  padding-bottom: 30px;
}


.boton{
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border: none;
}


/* Seccion Header */

header {
  background-color: var(--color-w);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
  ;
}

.header__logo {
width: 80px;
}

.header__nav {
  display: flex;
  justify-content: spacebetween;
  gap: 15px;
  align-items: center;
}

.nav__link {
  color: var(--color-2);
  font-weight: 700;
}

.nav__link:hover {
  color: var(--color-1);
}

/* Seccion Inicio */

#inicio {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-image: url(../images/bannerprincipal.jpg);
  background-size: cover;
  background-position: center;
}

.inicio__text{
  color: white;
  font-size: 50px;
}

.inicio__button--green {
  color: var(--color-w);
  background-color: var(--color-2);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border: none;
}

.inicio__button--green:hover {
  color: var(--color-2);
  background-color: var(--color-w);
  box-shadow: 1px 1px 5px black;
}

/* seccion nosotros */

#nosotros {
  background-color: var(--color-w);
  padding: 1px 0;
}

.nosotros__description {
  color: var(--color-2);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

/* seccion materials */

#materials {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-2);
}

#materials h2{
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-w);
}

.materials__content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.material__card {
  width: 350px;
  border-radius: 5px;
  border: dashed 1px var(--color-4);
}

.material__card:hover {
  box-shadow: 2px 2px 10px #ffffff58;
}

.material-card__image{
position: relative;

}

.material-card__image img{
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 5px;
}

.material-card__title{
position: absolute;
top: 10px;
right: 10px;
margin: 0;
padding: 10px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.228);
}

.material-card__description{
padding: 10px;
margin: 0;
color: var(--color-4);
}

/* Seccion Productos */
/* -- product Section */

#product {
  padding: 25px 0;
  background:  #fff;
}

.product__title {
  text-align: center;
  margin-bottom: 45px;
  color: var(--color-2);
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* .product_container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
} */

.product__card {
  border: 1px solid var(--color-2-alpha);
  width: 350px;
  background-color: var(--color-2);
border-radius: 5px;
overflow: hidden;
}

.product__card img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.product__img {
  overflow: hidden;
  position: relative;
}

.img__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 024px;
  background-color: var(--color-2-alpha);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#product a:hover .img__overlay {
  transform: translateY(0%);
}

.img__overlay ul li,
.img__overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}

.product__card:focus,
.product__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #FFF;
  outline: none;
  text-align: center;
  margin: 10px 0;
}



/* Seccion Galeria */


.galery__content {
  display: inline-flex;
background-color: #fff;
padding: 5px 0;
width: 100%;
margin: 20px 0;
}

.galery__content img {
  filter: grayscale(1);
  width: 16.6%;
  transform: translateY(0);
  transition: 300ms;
}

.galery__content img:hover {
filter: grayscale(0);
box-shadow: 1px 1px 2px var(--color-2-alpha);
transform: translateY(-5px);
}



/* Seccion Contacto */

#contacto {
  padding: 0;
}


.contact__workspace {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.workspace__photo {
  width: 25%;
  height: 50%;
}

.workspace__photo img {
  width: 100%;
}


/* Section Footer */

#footer {
  background: var(--color-2);
text-align: center;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo img {
  height: 80px;
  }

.footer__info {
  text-align: left;
}


.footer__social {
margin-bottom: 40px;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--color-w);
  margin-right: 10px;
}

.social__link .icon {
  fill: var(--color-2);
  width: 20px;
  height: 20px;
  transform: translateY(0);
}

.social__link:hover,
.social__link:hover .icon {
background-color: #FFF;
fill: #31685B;
transform: translateY(-2px);
}

.footer_copy {
  background-color: var(--color-w);
  border-radius: 25px;
}

/* CHat button */

.chat__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat__button a {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px dashed var(--color-2);
  box-shadow: 2px 2px 5px var(--color-2);
}

.chat__button a .icon {
width: 30px;
fill: var(--color-2);
}

.chat__button a:hover .icon{
  fill: #fff;
}
.chat__button a:hover {
background-color: var(--color-2);
border: 1px dashed var(--color-w);
}


@media (max-width: 767px)
{
  
  .container {
    width: 100%;
  }

 

  /* Header */

  header{
    flex-direction: column;
  }

  .header__nav {
    padding: 10px 0;
  }

  /* Inicio */

  #inicio {
    height: 300px;
    width: 100%;
  }
  .inicio__text{
    color: white;
    font-size: 20px;
  }
  .inicio__button--green {
    color: var(--color-w);
    background-color: var(--color-2);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
  }
  
  .inicio__button--green:hover {
    color: var(--color-2);
    background-color: var(--color-w);
    box-shadow: 1px 1px 5px black;
  }
  
  /* Nosotros */

  #nosotros {
    margin: 0 auto;
    padding: 0 10px;
  }

  .nosotros__description {
    font-size: 12px;
  }

  /* materials */

  #materials {
    display: flex;
    justify-content: center;
  }

  #materials h2 {
    margin-top: 0px;
    margin-bottom: 10px;
  }


  .materials__content {
display: block;
flex-direction: column;
  }

  .material__card{
width: 300px;
margin: 0 auto 10px auto;
  }

/* Galery */

#galeria{
margin: 0 auto;
}
.galery__content {
  display: block;
  flex-wrap: wrap;

}

.galery__content img {
  width: 160px;
  filter: grayscale(0);

}


/* productos */

#product h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

/*  contact */


.contact__workspace {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.workspace__photo {
  width: 50%;
  height: 50%;
}

.workspace__photo img {
  width: 100%;
}

/* Footer */


#footer {
  background: var(--color-2);
text-align: center;
color: var(--color-w);
}

.footer__content {
display: block;

}

.footer__info {
  text-align: center;
}
.footer_copy {
  color: var(--color-2);
}
}